__pycache__/
*.pyc
.ipynb_checkpoints/

processed_cicids/
processed_cicids2018/
processed_nslkdd/
processed_unsw_nb15/

save_models/
saved_MAVs/
saved_distance_scores/
saved_features/

cicids/
cicids2018/
nslkdd/
unsw_nb15/
data/
